body {
    background:
    linear-gradient(
      rgba(202, 233, 222, 0), 
      rgba(216, 193, 193, 0)
    ),
    url(https://mcdn.wallpapersafari.com/medium/89/3/gOJIrS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}